
<!-- <div class="container">
  <app-register></app-register>
</div> -->
<header>
  <nav class="bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <ul class="nav nav-tabs mb-0">
        <li class="nav-items">
          <a class="nav-link active" routerLink='/'>Home</a>
        </li>
        <li class="nav-items text-dark">
          <a class="nav-link btn btn-light text-black px-3" routerLink='/userdetail'>RegisteredUser</a>
        </li>
      </ul>
      <!-- Logo aligned to the right -->
      <img src="https://www.addressguru.in/images/1604307098.png " alt="Logo" class="navbar-logo mx-3">
    </div>
  </nav>
</header>

<div class="d-flex justify-content-center align-items-center ">
<router-outlet></router-outlet>
</div>